@media (max-width: 1050px) {
	.back {
		top: 0px;
	}

	.header-img {
		width: 300px;
	}
}

@media (max-width: 967px) {}

@media (max-width: 768px) {}

@media (max-width: 680px) {
	.cont-header {
		height: 130px;
	}

	.header-img {
		width: 250px;
	}

	header .logo {
		width: 150px;
	}
}

@media (max-width: 600px) {
	.navbar a span {
		font-size: 10px;
	}

	.navbar:hover a span {
		margin-left: -10px;
	}

	nav .navbar-item i {
		width: 3px;

	}


}

@media (max-width: 548px) {}

@media (max-width: 499px) {
	.cont-header {
		height: 100px;
	}

	.header-img {
		width: 200px;
	}

	header .logo {
		width: 100px;
	}
}

@media (max-width: 425px) {}

@media (max-width: 425px) {
	.cont-header {
		height: 80px;
	}
}

@media (max-width: 340px) {
	.cont-header {
		height: 70px;
	}

	.header-img {
		width: 150px;
	}

	header .logo {
		width: 75px;
	}
}