@media (max-width: 1050px) {
	.back {
		top: 0px;
	}

	.header-img {
		width: 300px;
}

@media (max-width: 967px) {

	.cont-header {
		width: 100%;
		height: 20vh;
		justify-content: flex-start;

	}


}

@media (max-width: 768px) {
	
}

	@media (max-width: 680px) {}
	
	@media (max-width: 600px){
		
		.navbar{
			margin-top: 100px;
		}
		.navbar:hover {
			padding-right: 130px;
		  }
	}
	
	@media (max-width: 548px) {}

	@media (max-width: 499px) {}

	@media (max-width: 425px) {}

	@media (max-width: 425px) {	}

	@media (max-width: 310px) {}